/* Default (Desktop) */
.sidebar {
    display: none;
}

.menu-button {
    display: none;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    padding: 20px;
}

.sidebar ul li {
    padding: 10px 30px;
    width: 100%;
}

.sidebar ul li img {
    margin-top: 15px;
    width: 30px;
}

/* Mobile First (320px and above) */
@media (max-width: 576px) {
    body {
        width: 100vw;
    }

    /* Header Banner */
    .header-banner img {
        width: 100%;
        object-fit: cover;
    }

    /* Header */
    .header-one {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 100vw;
    }

    .header-one .header-child-one {
        display: flex;
        font-size: 10px;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .header-one .header-child-one img {
        width: 20px;
    }

    /* Search */
    .header-search {
        height: 60px;
    }

    .header-search .header-search-logo img {
        width: 20px;
    }

    .header-search .header-search-section .search-input {
        width: 100px;
    }

    .header-search .header-search-section .search-input img {
        width: 30px;
    }

    .header-search .header-search-section .search-input input {
        width: 70px;
    }

    /* Slider */
    .slider-full {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider-full .slider-profile .profile-image .p1 {
        font-size: 20px;
        text-align: center;
    }

    .slider-full .slider-profile .profile-image .p2 {
        font-size: 14px;
    }

    .slider-full .slider-banner-one {
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
    }

    .slider-full .slider-banner-one img {
        width: 100%;
        max-width: 300px;
    }

    .green-line .green-line-main {
        width: 250px;
    }
}

/* Tablet (576px to 992px) */
@media (max-width: 992px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
        cursor: pointer;
    }
}

/* Extra Small Devices (320px - 400px) */
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
